@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b #334155; /* thumb track */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}

/* For Webkit-based browsers (Chrome, Safari) */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 3px;
  border: 1px solid #1e293b;
}

/* **UPDATED**: Changed grid layout to support complete hide/show of sidebar */
.page-grid-open {
    grid-template-columns: 280px 1fr;
}
.page-grid-closed {
    grid-template-columns: 0px 1fr;
}

/* **FIX: Added styles for the Swiper scrollbar to match the main theme.** */
.sport-category-swiper .swiper-scrollbar {
  background-color: #1e293b; /* slate-800 */
  height: 6px !important;
  bottom: 0 !important;
  top: auto !important;
  border-radius: 3px;
}

.sport-category-swiper .swiper-scrollbar-drag {
  background-color: #f59e0b; /* yellow-500 */
  border-radius: 3px;
}